<!-- FOOTER -->
<footer>
    <div class="row mt-5 pt-5">
        <div class="col-6 h4 align-self-top font-weight-normal">
            <a class="" style="color: gray">Srdnlen - UniCA CTF Team,</a>
        </div>
        <div class="col-6 text-end align-self-end text-gray text-decoration-none">
            <p>
                <a href="" style="color: gray" >Writeups</a>
                <a href="" style="color: gray">CyberChallenge.IT<a>
                <a href="" style="color: gray">About Us</a>
            </p>
            
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>