body {
    background-color: white;
}

.nav-link{
    color: black;
}
.nav-link:hover {
    color: gray; !important
}
.nav-link:active{
    color: black;
}
.nav-link:focus{
    color: gray;
}

.main-img{
    max-height: 60vh; !important
    max-width: 100%; !important
}