<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="../styles/button-hover.css">
<%- include('partials/navbar.ejs') %>
<body class='container-fluid'>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-10 col-lg-7 col-xl-6 justify-content-center">
            <h2 class='mb-4'>CyberChallenge.it</h2>
            <img src="img/cyberchallengelogo.png" class="img-fluid mb-4">
            <p class='fs-4'>
                CyberChallenge.IT, programma di formazione per i giovani talenti tra i 16 e i 24 anni, è la principale iniziativa italiana per identificare, attrarre, reclutare e collocare la prossima generazione di professionisti della sicurezza informatica.<br>
                Per partecipare non servono esperti di programmazione ma grande passione, impegno e curiosità nelle discipline scientifico-tecnologiche (scienza, tecnologia, ingegneria e matematica). Servono anche capacità logiche, di problem solving, di comunicazione e, soprattutto, tanta voglia di imparare. <a href="www.cyberchallenge.it" class="text-reset">www.cyberchallenge.it</a><br><br>    
                
                Le iscrizioni sono partite il 2 Novembre 2021 e chiuderanno il 14 Gennaio 2022. La formazione delle squadre avverrà tramite 2 test online.<br><br>
            </p>
            <ul class='fs-4'>
                <li>Il primo test si svolge il 29 Gennaio 2022 pomeriggio e serve per una prima selezione</li>
                <li>Il secondo test si svolge il 2 Febbraio 2022 pomeriggio e serve per la formazione della squadra</li>
            </ul>
            <p class='fs-4'>
                La squadra sarà composta da 20 ragazzi che al termine del percorso di formazione si sfideranno in una competizione individuale a livello locale, dalla quale verranno scelti i componenti della squadra che parteciperà ad una competizione di tipo attacco e difesa contro tutte le altre sedi partecipanti.<br>
            </p>
                <h2 class='mb-4'>CyberChallenge.IT @ UniCa</h2>
            <p class='fs-4'>
                L'Università degli studi di Cagliari ha partecipato al programma CyberChallenge.IT nel 2019, il 2022 sarà dunque il quarto anno di partecipazione consecutiva.<br><br>
                
                Dal progetto CyberChallenge.IT è inoltre nata la squadra Srdnlen, composta da alcuni dei ragazzi che hanno partecipato, e che compete in gare di tipo CTF (Capture the flag) a livello internazionale.<br><br>
                
                L'edizione 2021 è stata quella che ha visto l'Università di Cagliari arrivare nel primo gradino del podio a livello nazionale.<br>
                <a href="https://www.unica.it/unica/page/it/cyberchallenge_2021_stravince_luniversita_di_cagliari" class='text-reset'>Cyberchallenge 2021, stravince l’Università di Cagliari</a><br>
                <a href="https://www.italian.tech/2021/07/09/news/cyberchallenge_it_ecco_il_podio_degli_hacker_etici_italiani-309663283/" class='text-reset'>CyberChallenge.IT, ecco il podio degli hacker etici italiani</a><br>
            </p>
        </div>
    </div>
    <div class='container col-12 col-sm-11 col-md-10 col-lg-7 col-xl-6 mt-2'>
        <div class="row justify-content-center">
            <div class="col">
                <img src='img/img1cyber.jpg' class='img-fluid m-0 p-0'>
            </div>
            <div class="col">
                <img src='img/img2cyber.jpg' class='img-fluid m-0 p-0'>
            </div>
            <div class="col">
                <img src='img/img3cyber.jpg' class='img-fluid m-0 p-0'>
            </div>
            <div class="col-12">
                <img src='img/img4cyber.jpg' class='img-fluid mt-3 p-0'>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>