<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<title>Srdnlen – UniCA CTF Team</title>
<link rel="stylesheet" href="style.css">
<body class="container-fluid mx-0">    
    <!-- THUMBNAIL -->
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
                <div class="d-inline-block position-relative">
                    <img src="img/squadra.jpg" class="main-img img-fluid">
                    <p class="position-absolute font-weight-normal h4 mt-3 h6">SRDNLEN is a sardinian CTF team born after Cyberchallenge.IT 2019.</p>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %>

