<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>
<body class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-9">
            <h1 class="fw-bold mb-4">Writeups</h1>
            <p class="fs-4">Writeups are descriptions of how we solved challenges hosted in popular CTF competitions.</p>
            <!-- TODO: Add challenge category and a filtering method-->
            <ul class="list-group list-group-flush fs-5 mt-4 writeups-container">
            </ul>
        </div>
        <script>
            function parse_writeups(json){
                json = decodeURIComponent(json);
                json = JSON.parse(json);
                var container = document.getElementsByClassName('writeups-container');
                container = container[0];
                json['writeups'].forEach( writeup =>{
                    var li = document.createElement('li');
                    li.setAttribute('class','list-group-item');
                    var a = document.createElement('a');
                    a.setAttribute('href','writeup-viewer?id='+writeup['id']);
                    a.setAttribute('class','text-reset');
                    a.innerText = writeup['Name'];
                    li.appendChild(a);
                    container.appendChild(li);
                });
            }
            parse_writeups("<%- content %>");
        </script>
    </div>

<%- include('partials/footer.ejs') %>