<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>
<body class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-9">
            <h1 class="fw-bold mb-4">Writeups</h1>
            <p class="fs-4">Writeups are descriptions of how we solved challenges hosted in popular CTF competitions.</p>
            <!-- TODO: Add challenge category and a filtering method-->
            <!-- These are just examples that need to be parsed from the backend-->
            <ul class="list-group list-group-flush fs-5 mt-4">
                <li class="list-group-item"><a href="x" class="text-reset">Writeup 1</a></li>
                <li class="list-group-item"><a href="x" class="text-reset">Writeup 2</a></li>
                <li class="list-group-item"><a href="x" class="text-reset">Writeup 3</a></li>
                <li class="list-group-item"><a href="x" class="text-reset">Writeup 4</a></li>
                <li class="list-group-item"><a href="x" class="text-reset">Writeup 5</a></li>
              </ul>
        </div>
    </div>

<%- include('partials/footer.ejs') %>