<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>
<script src='scripts/writeups.js'></script>
<title>Srdnlen – UniCA CTF Team</title>
<body class="container-fluid">
    <div class="row justify-content-center">
        <div id='writeup-text' class="col-12 col-sm-10 col-lg-9">
        </div>
    </div>
<script>
    parseText("<%- content %>");
</script>
<%- include('partials/footer.ejs') %>

